APP_ENV=dev
APP_VERSION=1.0.0

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=tasks_db
SECRET_KEY=change_me_to_a_strong_secret

MINIO_ENDPOINT=http://localhost:9100
MINIO_PUBLIC_ENDPOINT=http://localhost:9100
MINIO_ACCESS_KEY=change_me_minio_user
MINIO_SECRET_KEY=change_me_minio_super_secret
MINIO_BUCKET=task-avatars
MINIO_REGION=us-east-1
MINIO_PRESIGNED_TTL_SECONDS=600
